<div [routerLink]="['/compute/instances']">VM instances</div>
<div [routerLink]="['/compute/groups']">Instance groups</div>
<div [routerLink]="['/compute/templates']">Instance templates</div>
<div [routerLink]="['/compute/soletenant']">Sole-tenant nodes</div>
<div [routerLink]="['/compute/machineimages']">Machine images</div>
<div [routerLink]="['/compute/disks']">Disks</div>
<div [routerLink]="['/compute/snapshots']">Snapshots</div>
<div [routerLink]="['/compute/images']">Images</div>
<div [routerLink]="['/compute/tpu']">TPUs</div>
<div [routerLink]="['/compute/migrate']">Migrate for Compute Engine</div>
<div [routerLink]="['/compute/discounts']">Committed use discounts</div>
<div [routerLink]="['/compute/metadata']">Metadata</div>
<div [routerLink]="['/compute/healthcheck']">Health checks</div>
<div [routerLink]="['/compute/zones']">Zones</div>
<div [routerLink]="['/compute/endpoint']">Network endpoint groups</div>
<div [routerLink]="['/compute/operations']">Operations</div>